# https://editorconfig.org/

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[**.go]
indent_style = tab
max_line_length = 80
tab_width = 8

[*Makefile]
indent_style = tab

[**.scd]
indent_style = tab
