Aditya Srivastava <adityasri163@gmail.com> <adityasri@ocf.berkeley.edu>
Andrew Jeffrey <dev@jeffas.io> <andrewjeffery97@gmail.com>
Andrew Jeffrey <dev@jeffas.io> Andrew Jeffery <dev@jeffas.io>
Andrew Jeffrey <dev@jeffas.io> Jeffas <dev@jeffas.io>
Bor Grošelj Simić <bgs@turminal.net> <bor.groseljsimic@telemach.net>
Christopher Vittal <chris@vittal.dev> <christopher.vittal@gmail.com>
Christopher Vittal <chris@vittal.dev> Chris Vittal <chris@vittal.dev>
Drew DeVault <sir@cmpwn.com> <ddevault@vistarmedia.com>
Inwit <inwit@sindominio.net>
JD <john1doe@ya.ru>
Kalyan Sriram <kalyan@coderkalyan.com> <coder.kalyan@gmail.com>
Kevin Kuehler <kkuehler@brave.com> <keur@ocf.berkeley.edu>
Kevin Kuehler <kkuehler@brave.com> <keur@xcf.berkeley.edu>
Leszek Cimała <ernierasta@zori.cz>
Moritz Poldrack <moritz@poldrack.dev> <git@moritz.sh>
Peter Lamby <dev@peterlamby.de> <Peter.Lamby@direkt-gruppe.de>
Simon Ser <contact@emersion.fr>
Thomas Böhler <witcher@wiredspace.de>
Wagner Riffel <wgrriffel@gmail.com> <w@104d.net>
