Aditya Srivastava <adityasri163@gmail.com> <adityasri@ocf.berkeley.edu>
Andrew Jeffery <dev@jeffas.io> <dev@jeffas.io>
Andrew Jeffrey <dev@jeffas.io> <andrewjeffery97@gmail.com>
Bor Grošelj Simić <bgs@turminal.net> <bor.groseljsimic@telemach.net>
Christopher Vittal <chris@vittal.dev> <christopher.vittal@gmail.com>
Drew DeVault <sir@cmpwn.com> <ddevault@vistarmedia.com>
Kalyan Sriram <kalyan@coderkalyan.com> <coder.kalyan@gmail.com>
Leszek Cimała <ernierasta@zori.cz>
Moritz Poldrack <moritz@poldrack.dev> <git@moritz.sh>
Peter Lamby <dev@peterlamby.de> <Peter.Lamby@direkt-gruppe.de>
Simon Ser <contact@emersion.fr>
Wagner Riffel <wgrriffel@gmail.com> <w@104d.net>
kevin Kuehler <kkuehler@brave.com> <keur@ocf.berkeley.edu>
kevin Kuehler <kkuehler@brave.com> <keur@xcf.berkeley.edu>
